<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Shopper</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
</head>
<body>
	<th:block th:include="AdminHeader"></th:block>
	<header id="header">
		<div class="header-bottom">
			<div class="container">
				<div class="row">
						<div class="search_box pull-center">
							<form action="sar1">
								<table>
									<tr>
										<th>Search By User ID:</th>
										<th><input type="text" name="userId" required="required"
											placeholder="Enter the User ID" /></th>
										<th><input type="submit" value="Search" /></th>
									</tr>
								</table>
							</form>
						</div>
				</div>
			</div>
		</div>
	</header>
	<br/><br/><br/><br/>
	<th:block th:include="_footer"></th:block>
</body>
</html>